body {
  font-family: Helvetica, Arial, sans-serif;
}

.me {
    font-weight:bold;
}

.container {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;

    border: 1px solid #CCC;
    max-width:700px;
}

#chat-msgs {
    list-style-type:none;
    padding:5px 10px;

    height:300px;
    max-height:100%;
    overflow-y: auto;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
         -o-hyphens: auto;
            hyphens: auto;
    
    word-wrap: break-word;

    margin:0 0 2px 0;
}

#new-msg {
    border-top: 1px solid #CCC;
    padding:5px 10px;
    min-height:25px;
}
